.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #d1c4e9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding-left: 70px;
    padding-right: 30px;
    padding-top: 90px;
    padding-bottom: 30px;
    margin: 0px auto;
    background: #9575cd;
    color: floralwhite;
    border-radius: 0;
}

.address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.navbar-dark{
    background-color: #512da8;
}